GSLT=12312412312
SERVER_NAME="ServerName"
SERVER_TAGS="retakes,128tick"
OWNER_STEAMID=7656123123213
ADMINS="7656119886,123123132123"
WEBHOOK="" #Optional: Discord webhook for server notifications (e.g. crashes, restarts)
PLUGINS="retakes,allocator,instaplant,instadefuse,rtv,clutchannounce,simpleadmin" #plugins list to install